@import "tailwindcss";

/* @plugin "tailwindcss-animate"; */

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: #fafaf9;
  /* stone-50 */
  --foreground: #1c1917;
  /* stone-900 */
  --card: #ffffff;
  --card-foreground: #1c1917;
  --popover: #ffffff;
  --popover-foreground: #1c1917;
  --primary: #1c1917;
  --primary-foreground: #fafaf9;
  --secondary: #e7e5e4;
  --secondary-foreground: #1c1917;
  --muted: #f5f5f4;
  --muted-foreground: #78716c;
  --accent: #f5f5f4;
  --accent-foreground: #1c1917;
  --destructive: #ef4444;
  --destructive-foreground: #fafaf9;
  --border: #e7e5e4;
  --input: #e7e5e4;
  --ring: #1c1917;
  --radius: 0.125rem;
}

.dark {
  --background: #1c1917;
  --foreground: #fafaf9;
  --card: #292524;
  --card-foreground: #fafaf9;
  --popover: #292524;
  --popover-foreground: #fafaf9;
  --primary: #fafaf9;
  --primary-foreground: #1c1917;
  --secondary: #44403c;
  --secondary-foreground: #fafaf9;
  --muted: #44403c;
  --muted-foreground: #a8a29e;
  --accent: #44403c;
  --accent-foreground: #fafaf9;
  --destructive: #7f1d1d;
  --destructive-foreground: #fafaf9;
  --border: #44403c;
  --input: #44403c;
  --ring: #d6d3d1;
}

/* Base styles in Tailwind v4 are automatic, but we enforce them here lightly */
body {
  background-color: var(--background);
  color: var(--foreground);
}

* {
  border-color: var(--border);
}